<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ST.dao.FollowMapper">

    <!--添加关注关系-->
    <insert id="addFollow" parameterType="ST.pojo.Follow">
        INSERT INTO st_follow (follow_id, follower_id, following_id)
        VALUES (#{follow_id}, #{follower_id}, #{following_id});
    </insert>

    <!--删除关注关系,根据关注者跟被关注者的id去删除-->
    <delete id="deleteFollow" parameterType="int">
        DELETE FROM st_follow WHERE follower_id = #{follower_id} AND following_id = #{following_id};
    </delete>

    <!--
    *查询当前用户是否关注了指定用户
    *作用：返回0则是没有关注，大于0表示了关注，可以用来判断关注与未关注
    parameterType：表示参数类型
    resultType：表示返回值的类型
    -->

    <select id="checkIfFollowed" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM st_follow
        WHERE follower_id = #{follower_id} AND following_id = #{following_id};
    </select>

   <!--
   *根据follower_id获取关注列表
   -->
    <select id="getInterestFollow" parameterType="int" resultType="ST.pojo.User">
        SELECT u.* FROM st_user u
        JOIN st_follow f ON f.following_id = u.user_id
        WHERE f.follower_id = #{follower_id};
    </select>

    <!--
    *根据following_id获取粉丝列表
    -->
    <select id="getFansFollow" parameterType="int" resultType="ST.pojo.User">
        SELECT u.* FROM st_user u
        JOIN st_follow f ON f.follower_id = u.user_id
        WHERE f.following_id = #{following_id};
    </select>

</mapper>