<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ST.dao.ImageMapper">

    <!-- 添加头像图片-->
    <insert id="addHeadImage" parameterType="ST.pojo.Image">
        INSERT INTO st_image (user_id, image_url)
        VALUES (#{user_id}, #{image_url})
    </insert>


    <!--通过user_id查询image对象-->
    <select id="selectHeadImage" parameterType="int" resultType="ST.pojo.Image">
        SELECT *
        FROM st_image
        WHERE user_id=#{user_id}
    </select>

    <!-- 添加动态图片-->
    <insert id="addPostImage" parameterType="ST.pojo.Image">
        INSERT INTO st_image (post_id,image_url)
        VALUES (#{post_id},#{image_url})
    </insert>

    <!--通过post_id查询image集合对象-->
    <select id="selectPostImage" parameterType="int" resultType="ST.pojo.Image">
        SELECT *
        FROM st_image
        WHERE post_id=#{post_id}
    </select>
</mapper>